<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card bg-success">
            {{#each serializedData as |data|}}
				<h5 class="card-header text-center">
					Card title
                    {{data.name}}
				</h5>
				<div class="card-body bg-danger">
					<p class="card-text text-center">
						Card content
                        {{data.description}}
					</p>
				</div>
            {{/each}}
			</div>
		</div>
	</div>
</div>