<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card bg-success">
				<h5 class="card-header text-center">
					Card title
				</h5>
				<div class="card-body bg-danger">
					<p class="card-text text-center">
						Card content
					</p>
				</div>
			</div>
		</div>
	</div>
</div>