<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Dashboard</h1>
    </div>
</div>    

{{!-- Changes text based on whether the user has a post or not. If they do it displays all their posts on the dashboard --}}
{{#if loggedIn}}
<section class="text-center">
    <h4>Welcome {{dashPosts.[0].user.username}}!</h4>
    {{#if dashPosts.length}}
        <h6>Below are all the posts you have created.</h6>    
        <h6>Click on the <b>Title</b> of a post to <b>Update</b> or <b>Delete</b> your post.</h6>
        {{#each dashPosts as |post|}}
        {{> dashboardPosts}}
        {{/each}}
    {{/if}}
</section>
{{/if}}
{{!-- Displays a create new post button under all the posts --}}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <form action="/dashboard/new">
                <input type="submit" value="Create New Post" class="btn btn-success" id="add-post-button"></input>
            </form>
        </div>
    </div>
</div>
