<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Dashboard</h1>
        <h3 id="dashWelcome" class="display-6">Welcome {{user.username}}!</h3>
    </div>
    <section class="text-center">
        {{#if posts.length}}    
            <p id="dashInfo">Below are all posts you created. Here you can Add, Update, or Delete posts.</p>
            {{#each posts as |post|}}
            {{> postsDetails}}
            {{/each}}
        {{/if}}
    </section>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <form action="/dashboard/new">
                <input type="submit" value="Create New Post" class="btn btn-outline-dark" id="add-post-button"></input>
            </form>
        </div>
    </div>
</div>
