<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Dashboard</h1>
        <h3 id="dashWelcome" class="display-6">Welcome {{user}}!</h3>
    </div>
{{#if dashPosts.length}}
    <section>
        <p id="dashInfo">Below are all posts you created. Here you can Add, Update, or Delete posts.</p>
        {{#each dashPosts as |dashPost|}}
        {{> postsDetails}}
        {{/each}}
    </section>
{{/if}}
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <form action="/dashboard/new">
                <input type="submit" value="Create New Post" class="btn btn-outline-dark" id="add-post-button"></input>
            </form>
        </div>
    </div>
</div>
