<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Dashboard</h1>
        <h3 id="dashWelcome" class="display-6">Welcome {{dashPosts.[0].user.username}}!</h3>
    <section>
        <p id="dashInfo">Below are all posts you created. Here you can Add, Update, or Delete posts.</p>
    </section>
    </div>
</div>

{{#if buttonClicked}}
    {{> postDetails}}
{{/if}}

{{#each dashPosts as |dashPost|}}
{{> postsDetails}}
{{/each}}

<div class="container">
    <div class="row">
        <div class="col text-center">
        <button type="button" class="btn btn-outline-dark" id="add-post-button">Create New Post</button>
        </div>
    </div>
</div>

<script src="/js/createPost.js"></script>