<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Dashboard</h1>
    </div>
    
    <section class="text-center">
        {{#if dashPosts.length}}    
            <p id="dashInfo">Below are all the posts that you have created. In the Dashboard, You can Add, Update, or Delete posts.</p>
            {{#each dashPosts as |post|}}
            {{> postsDetails}}
            {{/each}}
        {{/if}}
    </section>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <form action="/dashboard/new">
                <input type="submit" value="Create New Post" class="btn btn-outline-dark" id="add-post-button"></input>
            </form>
        </div>
    </div>
</div>
