<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Dashboard</h1>
    </div>
</div>    

<section class="text-center">
    <h6>Here you can Create, Update, or Delete posts.</h6>
    {{#if dashPosts.length}}    
        <h6>Below are all the posts that you have created. Click on the Title of a post to Update your post.</h6>
        {{#each dashPosts as |post|}}
        {{> dashboardPosts}}
        {{/each}}
    {{/if}}
</section>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <form action="/dashboard/new">
                <input type="submit" value="Create New Post" class="btn btn-outline-success" id="add-post-button"></input>
            </form>
        </div>
    </div>
</div>
