<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Tom's Tech Blog</h1>
    </div>
</div>

<section class="text-center">
{{#if loggedIn}}
    <p>The homepage displays posts created from all users. Click on the title of a post to view or create a comment.</p> 
{{else}}
    <p>The homepage displays posts created from all users. Here is where you can View and post Comments.</p> 
    </p>You need to Log in or Create an Account in order to do so. </p>
{{/if}}
</section>

{{#each homePosts as |post|}}
{{> homePagePosts}}
{{/each}}
