<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Tom's Tech Blog</h1>
    </div>
</div>

{{#if loggedIn}}
{{else}}
<section class="text-center">
    <p id="homeInfo">The homepage displays posts created from all users. Here is where you can View and Comment on other User's posts. You need to Log in or Create an Account in order to do so. </p>
</section>
{{/if}}

{{#each homePosts as |post|}}
{{> homePagePosts}}
{{/each}}
