<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Tom's Tech Blog</h1>
    </div>
</div>

<section class="text-center">
{{#if loggedIn}}
    <h6>The homepage displays posts created from all users.</h6>
    <h6>Click on the <b>Title</b> of a post to <b>Create</b> or <b>View</b> comments.</h6> 
{{else}}
    <h6>The homepage displays posts created from all users. Here is where you can View and post Comments.</h6> 
    <h6>You need to Log in or Create an Account in order to do so. </h6>
{{/if}}
</section>

{{#each homePosts as |post|}}
{{> homePagePosts}}
{{/each}}
