<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-6">Log In To Post/Comment</h1>
    </div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-8 offset-2 text-center">
			<form role="form">
				<div class="form-group"> 
					<label for="username"></label>
					<input type="input" class="form-control" autofocus="autofocus" placeholder="Enter Username" id="username"/>
				</div>
				<div class="form-group">
					<label for="password"></label>
					<input type="password" class="form-control" placeholder="Enter Password" id="password"/>
				</div>
                <button type="submit" class="btn btn-dark" id="submitBtn">Submit</button><br>
				<a href="/login" class="link-dark" id="signupLink">Click here to Sign Up</a>
			</form>
		</div>
	</div>
</div>

<script src="/public/js/login.js"></script>