<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Log In To Access Dashboard</h1>
    </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-6 offset-3 text-center">
			<form class="login-form">
				<div class="form-group"> 
					<label for="user-login">Enter Username</label>
					<input type="text" id="user-login" class="form-control" autofocus="autofocus" placeholder="Username"/>
				</div>
				<div class="form-group">
					<label for="password-login">Enter Password</label>
					<input type="password" id="password-login" class="form-control" placeholder="Password"/>
				</div>
                <button type="submit" class="btn btn-outline-dark" id="loginBtn">Submit</button><br>
				<a href="/signup" class="link-dark" id="signupLink">Click here to Sign Up</a>
			</form>
		</div>
	</div>
</div>

<script src="/js/login.js"></script>


