<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Update or Delete Your Post</h1>
    </div>
</div>

<div class="container-fluid new-post">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <form class="bg-dark text-center" id="selected-post-form">
                    <div class="form-group card-header">
                        <input type="hidden" name="selected-post-id" value="{{post.id}}"/>
                        
                        <label class="form-label" for="selected-post-title">Title</label>
                        <input type="text" class="form-control" name="selected-post-title" placeholder="{{post.title}}">
                        
                        <label class="card-body form-label" for="selected-post-description">Description</label>
                        <textarea class="form-input" name="selected-post-description" rows="6" placeholder="{{post.description}}"></textarea>
                        
                        <button type="submit" class="btn btn-info post-btn" id="update-post-btn">Update</button>
                        <button type="button" class="btn btn-danger post-btn" id="delete-post-btn">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/selectedPost.js"></script>