<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Sign Up For Full Access!</h1>
    </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-6 offset-3 text-center">
			<form class="signup-form">
				<div class="form-group"> 
					<label for="user-signup">Create Username</label>
					<input type="input" id="user-signup" class="form-control" autofocus="autofocus" placeholder="Username"/>
				</div>
				<div class="form-group">
					<label for="password-signup">Create Password</label>
					<input type="password" id="password-signup" class="form-control" placeholder="Password"/>
				</div>
                <button type="submit" class="btn btn-outline-dark">Submit</button><br>
			</form>
		</div>
	</div>
</div>

<script src="/js/signup.js"></script>